.background-platform {
  width: 95%;
  height: 95%;
  max-width: 900px;
  position: fixed;
  background-color: rgb(229, 253, 250);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  .cover {
    background-color: rgb(229, 253, 250);
    position: absolute;
  }
  .left-cover {
    width: 30px;
    height: 60%;
    left: -24px;
    bottom: 0;
  }
  .right-cover {
    width: 30px;
    height: 60%;
    top: -20px;
    right: -24px;
  }
  .upper-cover{
    height: 20px;
    width: 60%;
    top: -20px;
    right: 0;
  }
  .bottom-cover{
    height: 20px;
    width: 60%;
    bottom: -20px;
    left: -24px;
  }
}