$nav-height: 18em;

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  height: 10000px;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* 005 Young Passion: */
  background-image: linear-gradient(90deg, #B12A5B 0%, #CF556C 25%, #FF8C7F 63%, #FF8177 100%);
  /* 126 Colorful Peach: */
  background-image: linear-gradient(90deg, #EC8C69 0%, #ED6EA0 100%);
  /* 070 Aqua Splash: */
  background-image: linear-gradient(-160deg, #13547A 0%, #80D0C7 100%);
}

.main-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}